/bin/
jsoup-1.13.1.jar
src/Environments.java
captures/
.gradle/5.4.1/
Manga App.iml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/navEditor.xml
.idea/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/assetWizardSettings.xml
